<p style="color: green"><%= notice %></p>

<%= render partial: 'restaurants/restaurant', locals: { restaurant: @restaurant } %>


<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <div>
    <p><strong>Rating:</strong> <%= review.rating %></p>
    <p><strong>Comment:</strong> <%= review.content %></p>
    <%= link_to 'Delete Review', restaurant_review_path(@restaurant, review),
     method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <hr>
  </div>
<% end %>

<!-- Add Review Form -->
<h2>Add Review</h2>

<%= simple_form_for [@restaurant, @review] do |form| %>
  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit 'Add Review' %>
  </div>
<% end %>
